In [3]:
#İKİ BOYUTLU SLICE İSLEMLERİ
#:s/^/#/
import numpy as np
m = np.random.randint(10, size = (5,5))
m

array([[7, 0, 8, 1, 3],
       [0, 6, 6, 7, 5],
       [0, 7, 9, 9, 5],
       [6, 1, 7, 9, 5],
       [6, 0, 2, 3, 4]])

In [10]:
m[1:4,1:4]

array([[6, 6, 7],
       [7, 9, 9],
       [1, 7, 9]])

In [11]:
m[0, :]

array([7, 0, 8, 1, 3])

In [5]:
m[0,2:]

array([1, 0, 5])

In [20]:
m[1:4]

array([[2, 7, 0, 4, 7],
       [2, 0, 6, 5, 9],
       [1, 4, 6, 8, 8]])

In [22]:
m[0,1:4]

array([3, 1, 0])

In [16]:
satir_karakteri=1
minor=m[satir_karakteri:, satir_karakteri:].copy()
minor

#minor[minor<5]

array([[6, 6, 7, 5],
       [7, 9, 9, 5],
       [1, 7, 9, 5],
       [0, 2, 3, 4]])

In [17]:
np.mean(minor)

5.3125

In [18]:
np.sum(minor)

85

In [19]:
np.var(minor)

7.21484375

In [38]:
dizi = np.random.randint(10, size = (5,5))
dizi

array([[8, 6, 1, 6, 0],
       [9, 4, 5, 0, 9],
       [7, 8, 6, 8, 9],
       [0, 1, 6, 1, 3],
       [0, 8, 0, 5, 8]])

In [51]:
dizi<7

array([[False,  True,  True,  True,  True],
       [False,  True,  True,  True, False],
       [False, False,  True, False, False],
       [ True,  True,  True,  True,  True],
       [ True, False,  True,  True, False]])

In [52]:
sonuclar = dizi < 7
true_sayisi = np.count_nonzero(sonuclar)
true_sayisi

16

In [59]:
print(len(dizi[dizi < 7]), end="")
dizi[dizi < 7]

16

array([6, 1, 6, 0, 4, 5, 0, 6, 0, 1, 6, 1, 3, 0, 0, 5])

In [83]:
import pandas as pd
import numpy as np

dizi = np.random.randint(1, 10, size=5)
abc = pd.Series(dizi, index=range(len(dizi)))
print(abc)
print(abc[0:len(dizi)-2])

0    6
1    5
2    2
3    3
4    1
dtype: int64
0    6
1    5
2    2
dtype: int64

In [95]:
sozluk_1 = {i:j for i, j in enumerate(np.random.randint(1, 10, size=5))}
sozluk_2 = {i:j for i, j in enumerate(np.random.randint(1, 10, size=5))}
yeni_sozluk = pd.concat([pd.Series(sozluk_1), pd.Series(sozluk_2)], ignore_index=True) # ignore kullanılmazsa ikinci dizi baslangici sıfırdan başlar.
yeni_sozluk

0    7
1    2
2    4
3    7
4    5
5    6
6    8
7    3
8    5
9    8
dtype: int64

In [96]:
yeni_sozluk.index
yeni_sozluk.keys

<bound method Series.keys of 0    7
1    2
2    4
3    7
4    5
5    6
6    8
7    3
8    5
9    8
dtype: int64>

In [101]:
0 in yeni_sozluk
yeni_sozluk[0]

7

In [105]:
import pandas as pd
pd.DataFrame(yeni_sozluk, columns=["Random Degerler"])

   Random Degerler
0                7
1                2
2                4
3                7
4                5
5                6
6                8
7                3
8                5
9                8

In [112]:
import numpy as np
np_dizi = np.arange(1, 34)
y = np_dizi.reshape(11, 3)
?np.reshape

In [118]:
df_dizi = pd.DataFrame(y)
df_dizi

     0   1   2
0    1   2   3
1    4   5   6
2    7   8   9
3   10  11  12
4   13  14  15
5   16  17  18
6   19  20  21
7   22  23  24
8   25  26  27
9   28  29  30
10  31  32  33

In [120]:
df_dizi.head()
# df_dizi.tail()

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12
4  13  14  15

In [125]:
type(df_dizi)
print(df_dizi.size)
print(df_dizi.ndim)
print(df_dizi.axes)
print(df_dizi.values)

33
2
[RangeIndex(start=0, stop=11, step=1), RangeIndex(start=0, stop=3, step=1)]
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]
 [13 14 15]
 [16 17 18]
 [19 20 21]
 [22 23 24]
 [25 26 27]
 [28 29 30]
 [31 32 33]]

In [130]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df["var1"]
df[["var1","var2"]][0:3] # belirli kolonları istenilen satır kadar ekrana listeleme

   var1  var2
0    19     8
1     9     8
2     1    23

In [4]:
import pandas as pd
df = pd.read_csv("world_happiness_report.csv")

In [5]:
df.head()

,Country Name,Regional Indicator,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
0,Afghanistan,South Asia,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195,0.612072
1,Afghanistan,South Asia,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092,0.611545
2,Afghanistan,South Asia,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324,0.299357
3,Afghanistan,South Asia,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175,0.307386
4,Afghanistan,South Asia,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919,0.435440

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,2199.0,2014.161437,4.718736,2005.000000,2010.000000,2014.000000,2018.000000,2022.000000
Life Ladder,2199.0,5.479226,1.125529,1.281271,4.646750,5.432437,6.309460,8.018934
Log GDP Per Capita,2179.0,9.389766,1.153387,5.526723,8.499764,9.498955,10.373216,11.663788
Social Support,2186.0,0.810679,0.120952,0.228217,0.746609,0.835535,0.904792,0.987343
Healthy Life Expectancy At Birth,2145.0,63.294583,6.901104,6.720000,59.119999,65.050003,68.500000,74.474998
Freedom To Make Life Choices,2166.0,0.747858,0.140150,0.257534,0.656528,0.769821,0.859382,0.985178
Generosity,2126.0,0.000096,0.161083,-0.337527,-0.112116,-0.022671,0.092070,0.702708
Perceptions Of Corruption,2083.0,0.745195,0.185837,0.035198,0.688139,0.799654,0.868827,0.983276
Positive Affect,2175.0,0.652143,0.105922,0.178886,0.571684,0.663063,0.737936,0.883586
Negative Affect,2183.0,0.271501,0.086875,0.082737,0.207660,0.260671,0.322894,0.704590
Confidence In National Government,1838.0,0.483999,0.193071,0.068769,0.332549,0.467140,0.618846,0.993604

In [23]:
turkiye = df.loc[df['Country Name'].str.lower() == 'turkiye']
turkiye

,Country Name,Regional Indicator,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
1980,Turkiye,NaN,2005,4.718734,9.800281,0.819936,66.099998,0.623115,NaN,0.876999,0.478680,NaN,NaN
1981,Turkiye,NaN,2007,5.623472,9.891305,0.792273,66.419998,0.459312,-0.180983,0.799733,0.592484,0.395127,NaN
1982,Turkiye,NaN,2008,5.118232,9.887406,0.644874,66.580002,0.415498,-0.191524,0.785391,0.510494,0.345338,NaN
1983,Turkiye,NaN,2009,5.212842,9.825364,0.754646,66.739998,0.455817,-0.229695,0.852887,0.454365,0.316302,NaN
1984,Turkiye,NaN,2010,5.490347,9.892936,0.794905,66.900002,0.514920,-0.189836,0.810896,0.532230,0.327066,NaN
1985,Turkiye,NaN,2011,5.271944,9.985817,0.691902,67.059998,0.445607,-0.244793,0.648596,0.512298,0.379784,NaN
1986,Turkiye,NaN,2012,5.309076,10.017822,0.739281,67.220001,0.470903,-0.218662,0.701850,0.506106,0.334833,NaN
1987,Turkiye,NaN,2013,4.888177,10.082167,0.795451,67.379997,0.540723,-0.232435,0.698065,0.551321,0.391874,NaN
1988,Turkiye,NaN,2014,5.579794,10.110523,0.863288,67.540001,0.649196,-0.026466,0.764014,0.409513,0.377325,NaN
1989,Turkiye,NaN,2015,5.514465,10.150139,0.851225,67.699997,0.653197,-0.018883,0.806076,0.390979,0.382291,NaN
1990,Turkiye,NaN,2016,5.326222,10.165735,0.879995,67.875000,0.644147,-0.067680,0.763707,0.413587,0.389963,NaN
1991,Turkiye,NaN,2017,5.607262,10.224949,0.876468,68.050003,0.644434,-0.240131,0.670911,0.393167,0.312846,NaN
1992,Turkiye,NaN,2018,5.185689,10.245586,0.847027,68.224998,0.528629,-0.179062,0.804879,0.379292,0.350773,NaN
1993,Turkiye,NaN,2019,4.872074,10.245305,0.791656,68.400002,0.631084,-0.139380,0.760442,0.347481,0.368089,NaN
1994,Turkiye,NaN,2020,4.861554,10.256719,0.856730,68.574997,0.510386,-0.117426,0.774417,0.331563,0.440387,NaN
1995,Turkiye,NaN,2021,4.366640,10.356681,0.736195,68.750000,0.446528,-0.036791,0.810166,0.297092,0.470579,NaN

In [6]:
import numpy as np
np.random.rand(100)  # 10 tane 0-100 arası rastgele tam sayı üretir

array([0.63299233, 0.04358106, 0.15812638, 0.73432232, 0.27652605,
       0.11263829, 0.9383311 , 0.28796317, 0.60931303, 0.87420846,
       0.88847526, 0.94265847, 0.46845177, 0.44249036, 0.10576029,
       0.3664319 , 0.45542008, 0.87885617, 0.06190364, 0.89128494,
       0.61180104, 0.41276645, 0.10351048, 0.98105728, 0.12100272,
       0.5781885 , 0.28918439, 0.58457192, 0.90011616, 0.43429021,
       0.27200048, 0.59539464, 0.46214638, 0.29137563, 0.07056599,
       0.60123386, 0.84792206, 0.14858309, 0.68537965, 0.747318  ,
       0.62901186, 0.23492105, 0.05016953, 0.84996727, 0.36395698,
       0.05559866, 0.62422726, 0.69773044, 0.5103582 , 0.65408364,
       0.90125366, 0.89674336, 0.8338917 , 0.11368953, 0.3170114 ,
       0.59518495, 0.55296141, 0.8138507 , 0.3401726 , 0.93237917,
       0.81828953, 0.10765083, 0.10754371, 0.62603054, 0.55419555,
       0.57594621, 0.88164541, 0.39183508, 0.30496837, 0.99898087,
       0.22746551, 0.41292357, 0.91903785, 0.21304755, 0.12806104,
       0.43905786, 0.57704393, 0.28661731, 0.02880768, 0.96079015,
       0.11583628, 0.17662587, 0.91126599, 0.06376118, 0.95433193,
       0.84273463, 0.93718373, 0.79851991, 0.63434597, 0.7576148 ,
       0.04377828, 0.54009   , 0.19041097, 0.23544003, 0.5618266 ,
       0.86210683, 0.03928168, 0.74188259, 0.43915225, 0.60580072])