Veri seti hikayesi ve yapisinin incelenmesi

In [1]:
import seaborn as sns
planets = sns.load_dataset("planets")
planets.head()

            method  number  ...  distance  year
0  Radial Velocity       1  ...     77.40  2006
1  Radial Velocity       1  ...     56.95  2008
2  Radial Velocity       1  ...     19.84  2011
3  Radial Velocity       1  ...    110.62  2007
4  Radial Velocity       1  ...    119.47  2009

[5 rows x 6 columns]

Veri setinini hikayesi nedir?

In [2]:
df = planets.copy()
df.head()
df.tail()

       method  number  ...  distance  year
1030  Transit       1  ...     172.0  2006
1031  Transit       1  ...     148.0  2007
1032  Transit       1  ...     174.0  2007
1033  Transit       1  ...     293.0  2008
1034  Transit       1  ...     260.0  2008

[5 rows x 6 columns]

Veri seti yapisal bilgileri

In [3]:
df.info()
df.dtypes

import pandas as pd
df.method = pd.Categorical(df.method)
df.dtypes
df.head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

 Veri setinin betimlenmesi

In [4]:
import seaborn as sns
planets = sns.load_dataset("planets")
df = planets.copy()
df.head
df.shape
df.columns
df.describe(include="all").T

(1035, 6)

Eksik degerlerin incelenmesi

In [ ]:
import seaborn as sns
planets = sns.load_dataset("planets")
df = planets.copy()
df.head

Hic eksik gozlem (deger) var mi?

In [ ]:
df.isnull().values.any()

Hangi degiskende kacar tane var?

In [ ]:
df.isnull().sum()
df["orbital_period"].fillna(0, inplace = True)
df.isnull().sum()
df["mass"].fillna(df.mass.mean(), inplace = True)
df.isnull().sum()
df.fillna(df.mean(), inplace = True)
df.isnull().sum()
df = planets.copy()
df.head()
df.isnull().sum()